<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HealthCare Spending!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v4.min.js"></script>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    
    <div class="container ">
        <div class="jumbotron" style="text-align: center">
            <h1>Health Care Expenditures per Capita by State of Residence</h1>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <div class="card mySample">
                    <h4>REFINE RESULTS</h4><br>
                    <h5>TIMEFRAME</h5>
                    <select id="selYear" onchange="optionChanged(this.value)"></select><br>

                    <h5>LOCATIONS</h5>
                    <div id="myStateList"></div>
                    <select id="selState" onchange="selectedState(this.value)"></select>
                </div>
            </div>
            <div class="col-md-5">
                <div id ="plot"></div>
            </div>
            <div class="col-md-2">
                <div id ="gaugePLot"></div>
            </div>
        </div>
        <!-- 
        <div class="row">
        
            <div class="col-md-3">
                <div class="sampleInfo">
                        <h6>Sample Metadata</h6>
                        <ul id = "sampleMetadata"></ul>
                    </div> 
           </div>
           <div class="col-md-6">
                <div id ="plot"></div>
           </div>
        </div>
   

        <div class="row">
                
            <div class="col-md-11">
                <div id="scatterPlot">
                    
                </div>
            </div>
        </div>
         -->
    </div>
   
    
        
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
</body>

</html>
