<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HealthCare Spending!</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v4.min.js"></script>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   
</head>

<body>
   
   
    <div class="container-fluid ">
        <!--
        <div class="jumbotron" style="text-align: center">
            <h1>Health Care Expenditures per Capita by State of Residence</h1>
        </div>
    -->
    <div class="row">
    <nav class="navbar fixed-top navbar-expand-md navbar-light  bg-white" style="padding: 0px; background:rgb(35, 110, 202) !important; align-items:baseline">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.html" style="margin-left:50px; padding:5px;  color:white; font-size:24px; font-weight:bold;font-family: 'Times New Roman', Times, serif;">Health Facts</a>
            
        </nav>
    </div>
 
    <div class="row myrow">
        <div class="col-md-3 col-lg-3">
            <div class="card mySample">
                <div class="cardMainHeader"></div>
                    <h4>REFINE RESULTS</h4><br>
                <div class="cardHeader">
                    <h6 cardHeader>TIMEFRAME</h6>
                </div>
                <select id="selYear" onchange="changedYear(this.value)"></select><br>
                <div class="cardHeader">
                    <h6 >LOCATIONS</h6>
                </div>
                <div class="myStateCheckboxes">
                    <div id="myStateList"></div>
                </div>
                <div class="myStateDropdown">
                    <select id="selState" onchange="updatedStateSelection(this.value)"></select><br>
                </div>
            </div>

        </div>
        <div class="col-md-8 col-lg-8">
            <div class="my-sub-nav-container">
                <ul class="my-navbar-ul">
                    <li class="my-nav-item">
                        <a class="my-nav-link" href="#" id ="an-table"><img class="my-icons" src="static/table.jpeg">Table</a>
                    </li>
                    <li class="my-nav-item">
                    <a class="my-nav-link" href="#" id ="an-map"><img class="my-icons" src="static/map.jpeg">Map</a>
                    </li>
                    <li class="my-nav-item">
                    <a class="my-nav-link" href="#" id ="an-trend"><img class="my-icons" src="static/trend.jpeg">Trend Graph</a>
                    </li>
                    <li class="my-nav-item">
                    <a class="my-nav-link" href="#" id ="an-stats"><img class="my-icons" src="static/donut.png">HC Stats</a>
                    </li>
                    <li class="my-nav-item">
                    <a class="my-nav-link" href="#" id ="an-gdp"><img class="my-icons" src="static/trend.jpeg">GDP vs HC</a>
                    </li>
                </ul>

            </div>
            <div id ="gdpPlot"></div>
            <div id ="countryTrend"></div> 
            <div id ="canvas-svg"></div>
            <div id="tooltip-container"></div>
            <canvas id="lineChart" height="300" width="600"></canvas> 
            <div id="hc-summary-chart" ></div>
            <div id = "hc-spending-chart"></div>
        </div>
    </div>
        
    </div>
   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
</body>

</html>
